@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700;800&family=Space+Grotesk:wght@500;600;700&display=swap");

html,
body,
#root {
  min-height: 100%;
}

html {
  min-width: 320px;
}

body {
  margin: 0;
}
